.hoverText {
  transition:
    0.55s font-weight,
    0.55s color;
}

.hoverText:hover {
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

/* To the right — 4 levels */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.72);
}

.hoverText:hover + .hoverText + .hoverText + .hoverText {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.hoverText:hover + .hoverText + .hoverText + .hoverText + .hoverText {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
}

/* To the left — 4 levels */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.72);
}

.hoverText:has(+ .hoverText + .hoverText + .hoverText:hover) {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.hoverText:has(+ .hoverText + .hoverText + .hoverText + .hoverText:hover) {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
}
